/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* # UTILS */
  
  .container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
  }
  /* # HEADER*/
  .header{
    display: flex;
    justify-content: space-evenly;
    background-color: darkorange;
    min-height: 35px;
    border: dashed black 2px,;
    align-items: center;
   margin-left: 25%;
margin-right: 25%;
  }
  .logo{
  display: flex;
  justify-self: flex-start;
    width: 25%;
  }
  .link{
   display: flex;
   justify-self: center;
    width: 50%;
  }
  .login{
    width: 25%;
    display: flex;
    justify-self: flex-end;

  }

.section-one{
    margin-left: 500px;
    margin-top: 20px;
    width: 550px;
    background-color: pink;
    height: 200px;
    border: dashed black 2px;
}
ul{
    list-style-type: none;

}
li{
    display: inline-block;
}