/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* # UTILS */
  
  .container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
  }
  /* # HEADER*/
  .header{
    display: flex;
    justify-content: space-evenly;
    background-color: darkorange;
    min-height: 35px;
    border: dashed black 2px,;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;

  }
.background-container{
    background-color: blue;
}
